.container {
  max-width: 750px; 
  margin: 0 auto; 
  padding: 10px;
}

h1 {
  font-size: 25px;
  margin-bottom: 10px;
    
}

p {
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 1.5; 
  
}

h5  {
  font-size: 17px;
  margin-bottom: 3px;
  line-height: 0,5;
}

.film-grid {
  display: flex; 
  flex-direction: column; 
}

.film-row {
  display: flex; 
  justify-content: space-around; 
  margin-bottom: 8px;
   
}

.film {
  width: 70%; 
  text-align: center;
}

.film img {
  width: 88%; 
  height: auto;
  max-width: auto;
  
}