<div class="container">
  <h1>Üdvözöllek a Film értékelőn!</h1>
  <p>Válogass a felkapott filmek közül kedvedre!</p>
  <div class="film-grid">
    <div class="film-row">
      <div class="film" (click)="goToMovieDetail(userData[0].id)">
        <img src="assets/thewolfofwallstreet.jpg" alt="A Wall Street farkasa">
        <h2>A Wall Street farkasa</h2>
      </div>
      <div class="film" (click)="goToMovieDetail(userData[1].id)">
        <img src="assets/avatar.webp" alt="Avatar: A víz útja">
        <h2>Avatar: A víz útja</h2>
      </div>
      <div class="film" (click)="goToMovieDetail(userData[2].id)">
        <img src="assets/logan.jpg" alt="Logan">
        <h2>Logan</h2>
      </div>
      <div class="film" (click)="goToMovieDetail(userData[3].id)">
        <img src="assets/deadpool.jpg" alt="Deadpool">
        <h2>Deadpool</h2>
      </div>
    </div>
    <div class="film-row">
      <div class="film" (click)="goToMovieDetail(userData[4].id)">
        <img src="assets/spiderman.jpg" alt="Pókember: Nincs hazaút">
        <h2>Pókember: Nincs hazaút</h2>
      </div>
      <div class="film" (click)="goToMovieDetail(userData[5].id)">
        <img src="assets/ww1984.jpg" alt="Wonder Woman 1984">
        <h2>Wonder Woman 1984</h2>
      </div>
      <div class="film" (click)="goToMovieDetail(userData[6].id)">
        <img src="assets/topgun.jpg" alt="Top Gun: Maverick">
        <h2>Top Gun: Maverick</h2>
      </div>
      <div class="film" (click)="goToMovieDetail(userData[7].id)">
        <img src="assets/titanic.jpg" alt="Titanic">
        <h2>Titanic</h2>
      </div>
    </div>
  </div>
</div>
