.container {
    max-width: 400px;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    background-color: white;
    margin-top: 26px;
    margin-bottom: 30px;
  }   

  h1 {
    font-size: 19px;

  }
    .card-header {
      padding: 10px;
      margin-top: 5px;

    }

    .form-group {
      padding: 3px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    
    label {
      
      margin-bottom: 5px;}

    
    button {
      display: block;
      width: 100%;
      padding: 10px;
      margin-top: 40px;
      margin-bottom: 5px;
      border: none;
      border-radius: 15px;
      background-color: #007bff;
      color: #fff;
      cursor: pointer;
    }
    
    button:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }