<div class="container">   
  <div class="row justify-content-center">
    <div class="col-lg-15">
      <div class="card">
        <h1 class="mb-3">Bejelentkezés</h1>
        <div class="mb-3">
          <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" class="form-control" required>
      <div *ngIf="loginForm.get('email')?.hasError('email') && loginForm.get('email')?.touched" class="text-danger">Nem megfelelő email formátum
      </div>
    </div>
      </div>
        <div class="mb-3">
          <label for="password">Jelszó:</label>
      <input type="password" id="password" formControlName="password" class="form-control" required>
      <div *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched"
        class="text-danger">Jelszó kötelező
      </div>
    </div>
    <button type="button" class="btn btn-primary m-3">Bejelentkezés</button>
      </div>
    </div>
  </div>