<div class="signup-container">
    <h2>Regisztráció</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Felhasználónév</label>
        <input type="text" id="username" name="username" [(ngModel)]="userData.username" required>
      </div>
      <div class="form-group">
        <label for="email">E-mail cím</label>
        <input type="email" id="email" name="email" [(ngModel)]="userData.email" required>
      </div>
      <div class="form-group">
        <label for="password">Jelszó</label>
        <input type="password" id="password" name="password" [(ngModel)]="userData.password" required>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Jelszó megerősítése</label>
        <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="userData.confirmPassword" required>
      </div>
      <button type="submit">Regisztráció</button>
    </form>
  </div>
  