.container {
    max-width: 750px;
    margin: 0 auto;
    padding: 20px;
  }
  
h1{
  font-size: 30px;
  margin-bottom:3px; 
    
  } 

 h2{
  font-size: 17px;
  
 }
h3  {
  font-size: 15px;
  color: gray;
  margin-bottom: 3px;

  } 

  p{
    font-size: 15   px;
    color: black;
    margin-bottom: 8px;
    line-height: 1.5;

  }
  .movie-item {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 5px;
  }
  
  .rating {
    font-size: 27px;
    border-color: black;
  }
  
  .star {
    cursor: pointer;
  }
  
  .star.checked {
    color: gold;
  }
  