.container {
  max-width: 450px;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 15px;
  }   

  .col-md-8 {
    background-color: #f8f9fa;

  }