.container {
  max-width: 450px;
  margin: auto;
  padding: 15px;
  border-radius: 10px;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}   

h1 {
  font-size: 19px;
  text-align: center;
  margin-top: 10px;
}
.mb-3{
  margin-left: 16px;
  margin-right: 16px;


}
button {
  display: block;
  padding: 10px; 
  margin-bottom: 5px;
  border-radius: 15px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}