<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-15">
      <div class="card">
        <div class="card-header">
          <h4 class="text-center">Regisztráció</h4>
        </div>
        <div class="card-body">
            <div class="form-group">
              <label for="name">Név:</label>
              <input type="text" class="form-control" id="name" name="name" [(ngModel)]="name" required>
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" required>
            </div>
            <div class="form-group">
              <label for="password">Jelszó:</label>
              <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" required>
            </div>
            <div class="form-group">
              <label for="confirm_password">Jelszó megerősítése:</label>
              <input type="password" class="form-control" id="confirm_password" name="confirm_password" [(ngModel)]="password_confirmation" required>
            </div>
            <div class="form-group">
              <label for="birthDate">Születési dátum:</label>
              <input type="date" class="form-control" id="birthDate" name="birthDate" [(ngModel)]="birthdate" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Regisztrálok!</button>
        </div>
      </div>
    </div>
  </div>
</div>
