<h3 class="mb-4">Regisztráció</h3>
<div class="container">   
    <div class="mb-4">
        <label for="name" class="form-label">Név</label>
        <input type="text" class="form-control" [(ngModel)]="name" required>
    </div>
    <div class="mb-4">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" [(ngModel)]="email" required>
        <div *ngIf="email && !isValidEmail" class="text">Nem megfelelő email formátum!</div>
      </div>
    <div class="mb-4">
        <label for="password" class="form-label">Jelszó</label>
        <input type="password" class="form-control" [(ngModel)]="password" required minlength="8" >
        <div *ngIf="password && password.length < 8" class="text">A jelszónak legalább 8 karakter hosszúnak kell lennie!</div>
    <div class="mb-4">
        <label for="password_confirmation" class="form-label">Jelszó megerősítése</label>
        <input type="password" class="form-control" [(ngModel)]="password_confirmation" required>
        <div *ngIf="password_confirmation && password_confirmation !== password" class="text">A jelszavaknak meg kell egyezniük!</div>
    </div>
    <div class="mb-4">
        <label for="birthdate" class="form-label">Születési dátum</label>
        <input type="date" class="form-control" [(ngModel)]="birthdate" required>
    </div>
    <button type="button" class="btn btn-primary mb-3 me-3" (click)="signUp()" [disabled]="!isFormValid()">Regisztrálok!</button>
</div>