.container {
  max-width: 850px; 
  margin: 0 auto; 
  padding: 10px;
}

.film-grid {
  display: flex; 
  flex-direction: column; 
}

.film-row {
  display: flex; 
  justify-content: space-around; 
  margin-bottom: 30px; 
}

.film {
  width: 70%; 

}

.film img {
  width: 90%; 
  height: auto;
}